/* The side navigation menu */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

h3 {
  color: white;
  font-size: 25px;
  padding-left: 25px;
}

#main {
    transition: margin-left .5s;
    height: 100%;
}

#map {
  margin-top: -4rem;
  height: 100%;
}

#nav-button{
  padding: 2rem;
}

#ham-burg{
  position: absolute;
  width: 4rem;
  height: 4rem;
  z-index: 1;
  text-align: center;
  cursor: pointer;
  font-size: 2rem;
  line-height: 4rem;
  border-radius: 100%;
  color: white;
  background-color: rgba(53, 61, 69, 0.85);
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);


}

#ham-burg:hover{
  color: #424242;
  background-color: white;
}

/*GIF*/
#loading {
  background: url(../img/ajax-loader.gif) no-repeat;
  width: 50px;
  height: 50px;
  margin-left: 100px;
  margin-top: 20px;
  background-size: contain;
}


#infoWindow a {
  font-size: 14px;
  text-decoration: none;
  color:grey;
}

#infoWindow img {
  margin-left: 10px;
  width: 210px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#infoWindow {
  font: 25px 'Quicksand';
  width: 270px;
  margin-left: 20px;
  overflow: hidden !important; 
  text-align: center;
}

.container-1 {
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 input#search{
  margin-left: 0px;
  width: 250px;
  height: 40px;
  background: #2b303b;
  border: none;
  font: 12pt 'Quicksand';
  float: left;
  color: #63717f;
  padding-left: 25px;

}

input:focus {
    outline:none;
}

.box {
  margin-top: -50px;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #353d45; /* Dark Blue (Other: #2c313b)*/ 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */


.place-list {
  margin: 80px 25px 0px -15px;
}

.sidenav li {
    list-style-type: none;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus, li:hover, .offcanvas li:focus{
    color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {font-size: 18px;}
}